security:
    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        mon_gar_sur:
            entity:
                class: App\Entity\User
                property: username

    encoders:
        App\Entity\User: bcrypt
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: true
            provider: mon_gar_sur
            form_login: 
                login_path: app_login
                check_path: app_login
            guard:
                authenticators:
                    - App\Security\LoginFormAuthenticator
            access_denied_handler: App\Security\AccessDeniedHandler
            logout:
                path:   app_logout
            

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
         - { path: ^/admin, roles: ROLE_ADMIN }
         - { path: ^/login$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        # - { path: ^/profile, roles: ROLE_USER }
